<header>

  <nav class="nav-wrapper indigo">
    <div class="container">
      <a href="{% url 'home' %}" class="brand-logo">Stocka</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <li><a href="{% url 'home' %}">Home</a></li>

        <li>
          <form method="POST" action=".">
            {% csrf_token %}
            <div class="input-field">
              <input id="search" type="search" name="query" placeholder="get stock quote" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>

      </ul>



      <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'home' %}">Home</a></li>

      </ul>


    </div>
  </nav>
</header>